main {
    height: 100vh;

}

#container-form {

    width: 480px;
    background-color: #d9b4484d;
    padding: 3em;
    box-shadow: 3px 4px 6px #000000b0;
}

form {
    width: 50%;


}

.inputs {
    width: 150%;
}

.btn {
    width: 155px;
    height: 40px;
}

#entrar {
    background-color: rgba(65, 191, 97, 0.55);
}

#entrar:hover {
    background-color: #41BF61;
}


#cadastrar {
    background-color: rgba(255, 189, 89, 0.74);
}

#cadastrar:hover {
    background-color: #F2AC57;
}